{% extends 'tutorial/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Event
{% endblock %}
 
{% block content %}


 <div class="content-section" style ="border-radius: 25px; background-color: #d6eef8;padding:20px">
		<form method ="POST" enctype="multipart/form-data" >
			{% csrf_token %}
      <div style ="border-radius: 25px; background-color: white ;padding:50px;">
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">New Event</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Yes</button>
        </div>
      </div>
		</form>
	</div>
{% endblock %}