{% extends "tutorial/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style ="border-radius: 25px; background-color: #d6eef8;padding:20px;">
        <div style ="border-radius: 25px; background-color: white ;padding:50px;border-style: solid; border-width: thin;border-color:gray">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}